#deco {
  position: absolute;
  width: 100%;
  height: 15vw;
  z-index: 200;
  top: -12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .deco_circle {
    position: relative;
    width: 15vw;
    height: 15vw;
    border: 0.25vw solid white;
    border-radius: 100%;
    box-shadow: 0px 8px 16px -6px rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    margin: 0 -2vw;
    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 15vw;
      width: 0.25vw;
      height: 4vw;
      background: white;
      border-right: 1px solid black;
    }
    &_sock {
      position: absolute;
      top: 18vw;
      width: 5vw;
      height: 7vw;
      transform: rotate(-15deg);
      @media screen and (max-width: 768px){

      }
      &_white {
        position: absolute;
        width: 4vw;
        height: 1.5vw;
        background: white;
        right: 0;
      }
      &_red {
        position: absolute;
        width: 3.5vw;
        height: 5.5vw;
        right: 0.25vw;
        top: 1.5vw;
        background: red;
        border-radius: 0 0 20% 0;
        box-shadow: 0px 8px 16px -6px rgba(0,0,0,0.6);
        &::before {
          border-right: none;
          content: "";
          position: absolute;
          display: block;
          bottom: 0;
          background: red;
          left: -1.25vw;
          width: 1.3vw;
          height: 2.5vw;
          border-radius: 100% 0 0 100%;
        }
      }
    }
    &_ornament {
      position: absolute;
      width: 7vw;
      height: 7vw;
      top: 18vw;
      background: #00A5FF;
      border-radius: 100%;
      box-shadow: 0px 8px 16px -6px rgba(0,0,0,0.6);
      &.ornament_yellow {
        background: #F2FF49;
      }
      &.ornament_green {
        background: #5AD8BF;
      }
      &.ornament_silver {
        background: #c0c0c0;
      }
    }
  }
}
