#scene {
  position: relative;
  z-index: 100;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .scene_candyColorWrap {
    position: relative;
    margin: auto;
    max-width: 90vh;
    width: 90%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    .scene_candyColor {
      position: absolute;
      width: 200%;
      height: 200%;
      display: flex;
      justify-content: flex-start;
      transform: rotate(45deg);
      .red {
        position: relative;
        background: #D7322E;
        width: 2.5%;
        height: 100%;
      }
      .white {
        position: relative;
        background: white;
        width: 2.5%;
        height: 100%;
      }
    }
    img {
      position: relative;
      z-index: 1;
      width: 90%;
      height: 90%;
      object-fit: cover;
      vertical-align: bottom;
    }
  }

  #snow {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
    overflow: hidden;
  }
}


